$text-stroke-color: #000;
$text-stroke-color-green: #0f0;
$text-stroke-color-amber: #FFBF00;
$stroke-width: 1.5px;

$node-fill-color: #000;
$node-stroke-color: #000;
$node-stroke-color-green: #0f0;
$node-stroke-color-amber: #FFBF00;

$font_stack: "Courier New", "Courier",fixed,monospace;
$font_weight_normal: 300;
$text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
$text-shadow-green: 0 1px 0 #0f0, 1px 0 0 #0f0, 0 -1px 0 #0f0, -1px 0 0 #0f0;
$text-shadow-amber: 0 1px 0 #FFBF00, 1px 0 0 #FFBF00, 0 -1px 0 #FFBF00, -1px 0 0 #FFBF00;

.link {
	fill: none;
	stroke: $text-stroke-color;
	stroke-width: $stroke-width;
	opacity: 0.5;
}
.link:hover,
.link:active,
.link:focus {
	opacity: 1.0;
	stroke-width: $stroke-width*2;
};
.link.resolved {
	stroke-dasharray: 0,2 1;
}
circle {
	fill: $node-fill-color;
	stroke: $node-stroke-color;
	stroke-width: $stroke-width;
	opacity: 0.5;
}
circle:hover,
circle:active,
circle:focus {
	opacity: 1.0;
};
text {
	font-size: 18px;
	font-family: $font_stack;
	font-weight: $font_weight_normal;
	pointer-events: none;
	text-shadow: $text-shadow;
}
#licensing {
	fill: black;
}
.link.licensing {
	stroke: black;
}
.warWeapon {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: #fff;
	border: 1px solid;
	border-radius: 3px;
	cursor: pointer;
}
.warWeapon:hover,
.warWeapon:active,
.warWeapon:focus {
	background-color: #ff0;
	border-color: #ff0;
}
.warWeapon.roshamRock {
	background-image: url('../images/rosham-rock-32.png');
}
.warWeapon.roshamPaper {
	background-image: url('../images/rosham-paper-32.png');
}
.warWeapon.roshamScissors {
	background-image: url('../images/rosham-scissors-32.png');
}
.warWeapon.active {
	background-color: #f00;
	border-color: #f00;
}

body.theme-scanlines {
	.link {
		stroke: $text-stroke-color-green;
	}
	circle {
		stroke: $node-stroke-color-green;
	}
	#licensing {
		fill: green;
	}
	.link.licensing {
		stroke: green;
	}
	text {
		text-shadow: $text-shadow-green;
	}
	.warWeapon {
		background-color: $text-stroke-color-green;
	}
	.warWeapon:hover,
	.warWeapon:active,
	.warWeapon:focus {
		background-color: #ff0;
	}
	.warWeapon.active {
		background-color: #f00;
	}
}

body.theme-scanlines.amber {
	.link {
		stroke: $text-stroke-color-amber;
	}
	circle {
		stroke: $node-stroke-color-amber;
	}
	#licensing {
		fill: $text-stroke-color-amber;
	}
	.link.licensing {
		stroke: $text-stroke-color-amber;
	}
	text {
		text-shadow: $text-shadow-amber;
	}
	.warWeapon {
		background-color: $text-stroke-color-amber;
	}
	.warWeapon:hover,
	.warWeapon:active,
	.warWeapon:focus {
		background-color: #ff0;
	}
	.warWeapon.active {
		background-color: #f00;
	}
}