<!DOCTYPE html>
<html>
	<head>
    	<title>d4-ideas: about</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
		<script src="/socket.io/socket.io.js"></script>
		<script>
		</script>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/scanlines.css' />
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/scanlines.js"></script>
        <script type="text/javascript" src="/js/moment.min.js"></script>
	</head>
	<body class="theme-scanlines" data-uid="<%= userID %>">
		<div id="cover"><div id="line"><div id="dot"></div></div></div>
        <div id="error"></div>
		<div id="content">
            <h3 id="welcome-block">Welcome: <a href="./usersettings"><span><%= displayName %></span>...</a></h3>
            <div id="theme-widget">
                <a id="logout" href='/logout'>Logout</a>
                <span> | Theme:</span>
                <input type="radio" id="theme0" name="theme-options" value="0" data-themeName="none"><label for="theme0">0</label> | 
                <input type="radio" id="theme1" name="theme-options" value="1" data-themeName="scanlines" checked="checked"><label for="theme1">1</label> | 
                <input type="radio" id="theme2" name="theme-options" value="2" data-themeName="lcd"><label for="theme2">2</label>
            </div>
            <div id="poison">
                <h3>Hacked on by a few geeks</h3>
                <ul>
                    <li>Mike Elpers aka Reecoh</li>
                    <li>Anthony Sheetz aka Sheetzam</li>
                    <li>Rob Vignerot aka Vagabond</li>
                    <li>Kai Clements aka Zot the Magnificent</li>
                </ul>
            </div>
        </div>
    </body>
</html>