<!DOCTYPE html>
<html>
	<head>
	<title>d4-ideas: Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/scanlines.css' />
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/forgotPassword.js"></script>
    <script src="/js/md5-min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/scanlines.js"></script>
    <script>
    </script>
	</head>
	<body class="user-form theme-scanlines">
        <div id="cover"><div id="line"><div id="dot"></div></div></div>
        <div id="content">
            <h1><%= title %></h1>
            <div id="error"><%= error %></div>
            <div id="register">
                <form name="forgot" action="/forgotPassword" method="post">
                    <input type="email" name="emailAddress" placeholder="Where do you get your spam?">
                    <input type="submit" value="Jog My Memory" name="Submit">
                </form>
            </div>
            <div id="theme-widget">
                <span>Theme:</span>
                <input type="radio" id="theme0" name="theme-options" value="0" data-themeName="none"><label for="theme0">0</label> | 
                <input type="radio" id="theme1" name="theme-options" value="1" data-themeName="scanlines" checked="checked"><label for="theme1">1</label> | 
                <input type="radio" id="theme2" name="theme-options" value="2" data-themeName="lcd"><label for="theme2">2</label>
            </div>
        </div>
	</body>
</html>