<!DOCTYPE html>
<html>
	<head>
    	<title>RPS Demo</title>
        <link rel='stylesheet' href='/css/style.css' />
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</head>
	<body>
		<div id="cover"><div id="line"><div id="dot"></div></div></div>
		<div id="content">
			<h3>Welcome: Player 1</h3>
			<h4>Current Score: 3 out of 6 (50% efficiency)</h4>
			<table>
				<tbody>
					<tr>
						<th>Round</th>
						<th>Weapon</th>
						<th>Committed</th>
						<th>Results</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Rock</td>
						<td>04/22/2014 11:11:11</td>
						<td>
							<p>@ 04/22/2014 11:11:12</p>
							<p>Player 2: Win</p>
							<p>Player 3: Loss</p>
							<p>Player 4: Tie</p>
							<p>Score: 1 out of 3 (33.33% efficiency)</p>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Paper</td>
						<td>04/29/2014 11:11:11</td>
						<td>
							<p>@ 04/29/2014 12:22:22</p>
							<p>Player 2: Win</p>
							<p>Player 3: Loss</p>
							<p>Player 4: Win</p>
							<p>Score: 2 out of 3 (66.66% efficiency)</p>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>
							<input type="radio" id="w0" name="weapon" value="rock"><label for="w0">Rock</label><br>
							<input type="radio" id="w1" name="weapon" value="paper"><label for="w1">Paper</label><br>
							<input type="radio" id="w2" name="weapon" value="scissors"><label for="w2">Scissors</label>
						</td>
						<td>
							<input type="submit" value="Commit Weapon">
						</td>
						<td>TBD</td>
					</tr>
				</tbody>
			</table>

			<p>Bragging Rights</p>
			<table>
				<tbody>
					<tr>
						<th>Vs.</th>
						<th>Results</th>
						<th>Efficiency</th>
						<th>Trending</th>
					</tr>
					<tr>
						<td>Player 2</td>
						<td>2 of 2</td>
						<td>100%</td>
						<td>No Change</td>
					</tr>
					<tr>
						<td>Player 3</td>
						<td>0 of 2</td>
						<td>0%</td>
						<td>No Change</td>
					</tr>
					<tr>
						<td>Player 4</td>
						<td>1 of 2</td>
						<td>50%</td>
						<td>Up</td>
					</tr>
				</tbody>
			</table>
		</div>        
    </body>
</html>