<!DOCTYPE html>
<html>
	<head>
    	<title>d4-ideas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/scanlines.css' />
        <% include ./partials/commonJS %>
        <script type="text/javascript" src="/js/index.js"></script>
	</head>
	<body class="theme-scanlines" data-uid="<%= userID %>">
        <% include ./partials/header %>
		<div id="content">
            <div id="poison">
                <h3>Choose your poison...</h3>
                <ul>
                    <li><a href="/roshambattle">Join the RoshamBattle</a></li>
                    <!--<li><a href="/joinRoshamWar">Declare RoshamWar</a></li>-->
                    <li><a href="/realms">Take an adventure</a></li>
                </ul>
                <p class="wtf" data-info="None of your effing business!"><a href='/about'>What is this?</a></p>
            </div>
        </div>
    </body>
</html>