<!DOCTYPE html>
<html>
	<head>
    	<title>RPS Demo</title>
        <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />
		<script src="/socket.io/socket.io.js"></script>
		<script>
		</script>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/scanlines.css' />
        <link rel='stylesheet' href='/css/lcd.css' /> 
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/scanlines.js"></script>
	</head>
	<body class="theme-scanlines">
		<div id="cover"><div id="line"><div id="dot"></div></div></div>
        <div id="error"></div>
		<div id="content">
			<h3>Welcome: <%= displayName %></h3>
			<h4 id="current-score"></h4>
			<table id="table-rounds">
				<thead>
					<tr>
						<th>Round</th>
						<th>Weapon</th>
						<th>Committed</th>
						<th>Results</th>
					</tr>
                </thead>
                <tbody>
					<tr>
						<td data-label="Round">3</td>
						<td data-label="Weapon">
							<input class="setfocus" type="radio" id="w0" name="weapon" value="Rock"><label for="w0" checked="checked">Rock</label><br>
							<input type="radio" id="w1" name="weapon" value="Paper"><label for="w1">Paper</label><br>
							<input type="radio" id="w2" name="weapon" value="Scissors"><label for="w2">Scissors</label>
						</td>
						<td data-label="Committed">
							<input type="submit" value="Commit Weapon" id="commit">
						</td>
						<td data-label="Results" id='makeItEasyToFindMe'>TBD</td>
					</tr>
                    <tr>
						<td data-label="Round">2</td>
						<td data-label="Weapon">Paper</td>
						<td data-label="Committed">04/29/2014 11:11:11</td>
						<td data-label="Results">
							<p>@ 04/29/2014 12:22:22</p>
							<p>Player 2: Win</p>
							<p>Player 3: Loss</p>
							<p>Player 4: Win</p>
							<p>Score: 2 out of 3 (66.66% efficiency)</p>
						</td>
					</tr>
                    <tr>
                        <td data-label="Round">1</td>
						<td data-label="Weapon">Rock</td>
						<td data-label="Committed">04/22/2014 11:11:11</td>
						<td data-label="Results">
							<p>@ 04/22/2014 11:11:12</p>
							<p>Player 2: Win</p>
							<p>Player 3: Loss</p>
							<p>Player 4: Tie</p>
							<p>Score: 1 out of 3 (33.33% efficiency)</p>
						</td>
					</tr>
				</tbody>
			</table>

			<p>Bragging Rights</p>
			<table id="table-results">
				<thead>
					<tr>
						<th>Vs.</th>
						<th>Results</th>
						<th>Efficiency</th>
						<th>Trending</th>
					</tr>
                </thead>
                <tbody>
					<tr>
						<td data-label="Vs.">Player 2</td>
						<td data-label="Results">2 of 2</td>
						<td data-label="Efficiency">100%</td>
						<td data-label="Trending">No Change</td>
					</tr>
					<tr>
						<td data-label="Vs.">Player 3</td>
						<td data-label="Results">0 of 2</td>
						<td data-label="Efficiency">0%</td>
						<td data-label="Trending">No Change</td>
					</tr>
					<tr>
						<td data-label="Vs.">Player 4</td>
						<td data-label="Results">1 of 2</td>
						<td data-label="Efficiency">50%</td>
						<td data-label="Trending">Up</td>
					</tr>
				</tbody>
			</table>
            
            <div id="the-shitcan">
                <p><span class="user">Player 1:</span> Something about Player 2's mother.</p>
                <p><span class="user">Player 2:</span> Biting retort.</p>
                <p><span class="user">Player 1:</span> Tears to power the server.</p>
            </div>
            
            <form id="taunt-box" name="taunt-box">
                <textarea rows="10" cols="50" placeholder="Use psychologival warfare on your opponents..."></textarea><br>
                <input type="submit" value="Taunt Away!">
            </form>
            
            <div id="theme-widget">
                <a id="logout" href='/logout'>Logout</a>
                <span> | Theme:</span>
                <input type="radio" id="theme0" name="theme-options" value="0" data-themeName="none"><label for="theme0">0</label> | 
                <input type="radio" id="theme1" name="theme-options" value="1" data-themeName="scanlines" checked="checked"><label for="theme1">1</label> | 
                <input type="radio" id="theme2" name="theme-options" value="2" data-themeName="lcd"><label for="theme2">2</label>
            </div>
        </div>
    </body>
</html>