<!DOCTYPE html>
<html>
	<head>
		<title>d4-ideas: roshambattle</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<script>
		</script>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/scanlines.css' />
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/scanlines.js"></script>
	</head>
	<body class="theme-scanlines" data-uid="<%= userID %>">
		<div id="cover"><div id="line"><div id="dot"></div></div></div>
		<div id="error"></div>
		<div id="content">
			<div id="pansy-filter-block">
				<h1><%= displayName %>, a war rages on. Will you risk all or chicken out like the little pansey we think you are?</h1>
				<ul>
					<li><a href="/roshamWar">Leeroy Jenkins has nothing on me!</a></li>
					<li><a href="http://www.hasbro.com/mylittlepony">I like pink ponies!<a></li>
					<li><a href="/">Oh Crap! ABORT! ABORT!<a></li>
				</ul>
			</div>
		</div>
	</body>
</html>