<!DOCTYPE html>
<html>
	<head>
    	<title>d4-ides: realms</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
		<script src="/socket.io/socket.io.js"></script>
		<script>
		</script>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/scanlines.css' />
        <link rel='stylesheet' href='/css/lcd.css' /> 
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/realmEvents.js"></script>
		<script type="text/javascript" src="/js/scanlines.js"></script>
        <script type="text/javascript" src="/js/moment.min.js"></script>
	</head>
	<body class="theme-scanlines" data-uid="<%= userID %>">
		<div id="cover"><div id="line"><div id="dot"></div></div></div>
        <div id="error"></div>
		<div id="content">
			<h3 id="welcome-block">Welcome: <span><%= displayName %></span></h3>
            <div id="tabs-block">
                <ul>
                    <li class="active" data-tabid="design-block">Design</li>
                    <li data-tabid="explore-block">Explore</li>
                </ul>
            </div>
            <div id="theme-widget">
                <a id="logout" href='/logout'>Logout</a>
                <span> | Theme:</span>
                <input type="radio" id="theme0" name="theme-options" value="0" data-themeName="none"><label for="theme0">0</label> | 
                <input type="radio" id="theme1" name="theme-options" value="1" data-themeName="scanlines" checked="checked"><label for="theme1">1</label> | 
                <input type="radio" id="theme2" name="theme-options" value="2" data-themeName="lcd"><label for="theme2">2</label>
            </div>
            <h3 class="center">You can add only!  Anything you add can and may be deleted at any time.</h3>
			<table id="design-block" class="tab-block active">
				<thead>
					<tr>
                        <th></th>
                        <th>To</th>
                        <th>Short Description</th>
                        <th>Long Description</th>
                        <th>From</th>
					</tr>
                </thead>
                <tbody>
                    
					<tr>
                        <td><input type='submit' id='createNode' value='+'></td>
                        <td><select id='connectionTo'>
                                <option value="Lobby">Lobby</option>
                                <option value="(new)">(new)</option>
                            </select><br>
                            <input type='text' id='node21' placeholder='Howya getting here?'>
                        </td>
                        <td>
                            <input type='text' id='shortDesc' placeholder='Empty space'>
                        </td>
				        <td>
                            <textarea rows='4' cols=40 id='description' placeholder='A vast empty place waiting for you to create your world.'></textarea>
                        </td>
                        <td>
                            <select id='connectionFrom'>
                                <option value="Lobby">Lobby</option>
                            </select><br>
                            <input type='text' id='node12'  placeholder='Howya getting outa here?'>
                        </td>
					</tr>                      
				</tbody>
			</table>        
            <div id="explore-block" class="tab-block">
                <table id="table-results">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>   
                </table>
            </div>

        </div>
    </body>
</html>