<!DOCTYPE html>
<html>
	<head>
		<title>d4-ides: realms</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<script src="/socket.io/socket.io.js"></script>
		<script>
		</script>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/scanlines.css' />
		<link rel='stylesheet' href='/css/realms.css' />
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/realmEvents.js"></script>
		<script type="text/javascript" src="/js/scanlines.js"></script>
		<script type="text/javascript" src="/js/moment.min.js"></script>
	</head>
	<body class="theme-scanlines" data-uid="<%= userID %>">
		<div id="cover"><div id="line"><div id="dot"></div></div></div>
		<div id="error"></div>
		<div id="content">
			<h3 id="welcome-block">Welcome: <span><%= displayName %></span></h3>
			<div id="tabs-block">
				<ul>
					<li class="active" data-tabid="explore-block">Explore</li>
					<li data-tabid="design-block">Design</li>
				</ul>
			</div>
			<div id="theme-widget">
				<a id="logout" href='/logout'>Logout</a>
				<span> | Theme:</span>
				<input type="radio" id="theme0" name="theme-options" value="0" data-themeName="none"><label for="theme0">0</label> | 
				<input type="radio" id="theme1" name="theme-options" value="1" data-themeName="scanlines" checked="checked"><label for="theme1">1</label> | 
				<input type="radio" id="theme2" name="theme-options" value="2" data-themeName="lcd"><label for="theme2">2</label>
			</div>
			<div id="design-block" class="tab-block">
				<h3 class="center">Design a world that other people can interact with.</h3>


				<div class="design-block-row">
					<div class="design-block-row-col-left">
						<label class='shortLabel' for='connectionFrom'>From:</label>
						<select id='connectionFrom'>
							<option value="Lobby">Lobby</option>
						</select>
						<input type='text' id='node12Desc' placeholder='How ya getting outa here?'>
					</div>
					<div class="design-block-row-col-right">
						<label class="shortLabel" for='connectionTo'>To:</label>
						<select id='connectionTo'>
							<option value="(new)" selected>[Create New]</option>
							<option value="Lobby">Lobby</option>
						</select>
						<input type='text' id='node21Desc' placeholder='How ya getting here?'>
					</div>
				</div>
				<div class="design-block-row">
					<div class="design-block-row-col-left">
						<label for='shortDesc'>Short Description:</label>
						<input type='text' id='shortDesc' placeholder='Empty space' maxlength="255">
					</div>
					<div class="design-block-row-col-right">
						<label for='description'>Long Description:</label>
						<textarea rows='4' cols=40 id='description' placeholder='A vast empty place waiting for you to create your world.'></textarea>
					</div>
				</div>
				<div class="design-block-row wideRow">
					<label for='createConnection'>Create Connection:</label>
					<input type='submit' id='createConnection' value='Make It So!'>
				</div>
			</div>

			<div id="explore-block" class="tab-block active">
				<h3 class="center">Explore the world</h3>
				<h3>Your current location:</h3>
				<div id="explore-node"></div>
				<br>
				<h3>Travel to:</h3>
				<div id="explore-connections"><ul><li>this</li></ul></div>
				<h3>Travel History:</h3>
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>From</th>
							<th>Via</th>
							<th>To</th>
						</tr>
					</thead>
					<tbody id="explore-blocklog">
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>