<!DOCTYPE html>
<html>
	<head>
		<title>d4-ides: realms</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<script src="/socket.io/socket.io.js"></script>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/scanlines.css' />
		<link rel='stylesheet' href='/css/nodes.css' />
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/roshamWarEvents.js"></script>
		<script type="text/javascript" src="/js/scanlines.js"></script>
		<script type="text/javascript" src="/js/moment.min.js"></script>
	</head>
	<body class="theme-scanlines" data-uid="<%= userID %>">
        <% include ./partials/header %>
		<div id="content">
			<div id="tabs-block">
				<ul>
					<li class="active" data-tabid="explore-block">Graphical</li>
					<li data-tabid="design-block">Text only</li>
				</ul>
			</div>

			<div id="design-block" class="tab-block">
				<h1 style="margin: 50px auto; width: 80%; text-align: center;">
					<script>
					var coinFlip = Math.random();
					var salutation = 'Your mama\'s so fat, ';
					if (coinFlip < 0.5) {
						salutation += 'the recursive function computing her mass causes a stack overflow.';
					}
					else {
						salutation += 'she can\'t save files bigger than 4GB.';
					}
					document.write(salutation);
					</script>
				</h1>
			
				<table id="node-farm">
					<thead>
						<tr>
							<th>Your Nodes</th>
							<th>Connections</th>
							<th>Action</th>
							<th>Weapon</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Node 1</td>
							<td>
								Node 101 (Yours)<br>
								Node 102 (Player 3)<br>
								Node 103 (Player 4)
							</td>
							<td>
								Sever<br>
								Sever | Attack<br>
								Sever | Attack<br>
								Create New Connection
							</td>
							<td>
								<span class="warWeapon roshamRock" data-nodeID="1" title="Rock"></span>
								<span class="warWeapon roshamPaper" data-nodeID="1" title="Paper"></span>
								<span class="warWeapon roshamScissors" data-nodeID="1" title="Scissors"></span>
							</td>
						</tr>
						<tr>
							<td>Node 101</td>
							<td>
								Node 1 (Yours)<br>
								Node 102 (Player 2)<br>
								Node 103 (Player 99)
							</td>
							<td>
								Sever<br>
								Sever | Attack<br>
								Sever | Attack<br>
								Create New Connection
							</td>
							<td>
								<span class="warWeapon roshamRock" data-nodeID="101" title="Rock"></span>
								<span class="warWeapon roshamPaper" data-nodeID="101" title="Paper"></span>
								<span class="warWeapon roshamScissors" data-nodeID="101" title="Scissors"></span>
							</td>
						</tr>
					</tbody>
				</table>
			
			</div>
			<div id="explore-block" class="tab-block active">
				<div id="mysvg"></div>
			</div>
		</div>
	</body>
</html>
<script src="http://d3js.org/d3.v3.min.js"></script>
