<!DOCTYPE html>
<html>
	<head>
	<title>d4-ideas: <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/scanlines.css' />
    <script src="/js/md5-min.js"></script>
    <% include ./partials/commonJS %>
    <script type="text/javascript" src="/js/userSettings.js"></script>
    <script>
    </script>
	</head>
	<body class="user-form theme-scanlines">
        <% include ./partials/header %>
        <div id="content">
            <div id="tabs-block">
				<ul>
					<li class="active" data-tabid="settings">Manage Settings</li>
				</ul>
			</div>
            <br>
            <div id="settings">

                    <input type="text" name="displayName" placeholder="What name on your tombstone?" value="<%= name %>" autofocus>
                    <br>
                    <input type="text" name="emailAddress" placeholder="Where to send the e-card?" value="<%= email %>">
                    <br>
                    <input type="password" name="existingPassword" placeholder="Your Current Security Key">
                    <br>
                    <input type="password" name="password" placeholder="Your New Security Key">
                    <br>
                    <input type="password" name="confirm" placeholder="Security Key autocorrect validation">
                    <br>
                    <input id='submitUser' type="submit" value="Make it so" name="Submit">

            </div>
        </div>
	</body>
</html>