<!DOCTYPE html>
<html>
	<head>
	<title>d4-ideas: <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/scanlines.css' />
    <script src="/js/md5-min.js"></script>
    <% include ./partials/commonJS %>
    <script type="text/javascript" src="/js/userSettings.js"></script>
    <script>
    </script>
	</head>
	<body class="user-form theme-scanlines">
        <% include ./partials/header %>
        <div id="content">
            <div id="tabs-block" >
				<ul>
					<li id='usersettingstab' class="active" data-tabid="usersettings-block">Settings</li>
                    <li id='changepasswordtab' data-tabid="userpassword-block">Password</li>
				</ul>
			</div>
            <br>
            <div id="usersettings-block"  class="tab-block active">
                    <input type="text" id="name" placeholder="What name on your tombstone?" value="<%= name %>" autofocus>
                    <br>
                    <input type="text" id="email" placeholder="Where to send the e-card?" value="<%= email %>">
                    <br>
                    <input type="text" id="mobile" placeholder="What's your mobile?" value="<%= mobile %>">
                    <br>
                    <input id='submitUserSettings' type="submit" value="Make it so" name="Submit">
            </div>
            <div id="userpassword-block"  class="tab-block">
                    <input id='oldpassword' type="password" name="existingPassword" placeholder="Your Current Security Key">
                    <br>
                    <input id='newpassword1' type="password" name="password" placeholder="Your New Security Key">
                    <br>
                    <input id='newpassword2' type="password" name="confirm" placeholder="Security Key autocorrect validation">
                    <br>
                    <input id='submitUserPassword' type="submit" value="Make it so" name="Submit">
            </div>
        </div>
	</body>
</html>