body.error-page #theme-widget {
  position: relative;
  float: right;
  top: auto;
  right: auto; }
body.error-page .diplomatic-message {
  clear: both;
  margin: 30px 0 0; }
body.error-page h1 {
  font-size: 48px;
  line-height: 48px; }
body.error-page h2 {
  font-size: 96px;
  line-height: 96px; }
body.error-page #error-details {
  width: 400px;
  max-width: 400px;
  min-height: 170px;
  overflow: hidden;
  padding: 80px 0 100px 175px;
  margin: 20px auto;
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #333; }
  body.error-page #error-details #error-glass {
    display: none;
    background: url("/images/error-glass.png") center center no-repeat transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
body.error-page .error-text {
  text-transform: none;
  opacity: 1;
  color: inherit;
  position: relative;
  margin: 0; }
body.error-page .error-text:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
  animation: noise-anim 2s infinite linear alternate-reverse; }
@-webkit-keyframes noise-anim {
  0% {
    clip: rect(87px, 9999px, 63px, 0); }
  5% {
    clip: rect(48px, 9999px, 57px, 0); }
  10% {
    clip: rect(48px, 9999px, 53px, 0); }
  15.0% {
    clip: rect(80px, 9999px, 45px, 0); }
  20% {
    clip: rect(60px, 9999px, 90px, 0); }
  25% {
    clip: rect(25px, 9999px, 46px, 0); }
  30.0% {
    clip: rect(94px, 9999px, 19px, 0); }
  35% {
    clip: rect(80px, 9999px, 59px, 0); }
  40% {
    clip: rect(33px, 9999px, 58px, 0); }
  45% {
    clip: rect(52px, 9999px, 78px, 0); }
  50% {
    clip: rect(77px, 9999px, 75px, 0); }
  55.0% {
    clip: rect(25px, 9999px, 72px, 0); }
  60.0% {
    clip: rect(74px, 9999px, 99px, 0); }
  65% {
    clip: rect(60px, 9999px, 84px, 0); }
  70% {
    clip: rect(60px, 9999px, 34px, 0); }
  75% {
    clip: rect(80px, 9999px, 61px, 0); }
  80% {
    clip: rect(85px, 9999px, 43px, 0); }
  85.0% {
    clip: rect(19px, 9999px, 61px, 0); }
  90% {
    clip: rect(21px, 9999px, 35px, 0); }
  95% {
    clip: rect(29px, 9999px, 84px, 0); }
  100% {
    clip: rect(41px, 9999px, 77px, 0); } }
@keyframes noise-anim {
  0% {
    clip: rect(82px, 9999px, 22px, 0); }
  5% {
    clip: rect(97px, 9999px, 19px, 0); }
  10% {
    clip: rect(12px, 9999px, 69px, 0); }
  15.0% {
    clip: rect(11px, 9999px, 62px, 0); }
  20% {
    clip: rect(68px, 9999px, 28px, 0); }
  25% {
    clip: rect(64px, 9999px, 62px, 0); }
  30.0% {
    clip: rect(42px, 9999px, 34px, 0); }
  35% {
    clip: rect(34px, 9999px, 63px, 0); }
  40% {
    clip: rect(42px, 9999px, 8px, 0); }
  45% {
    clip: rect(37px, 9999px, 78px, 0); }
  50% {
    clip: rect(82px, 9999px, 31px, 0); }
  55.0% {
    clip: rect(89px, 9999px, 9px, 0); }
  60.0% {
    clip: rect(10px, 9999px, 77px, 0); }
  65% {
    clip: rect(3px, 9999px, 65px, 0); }
  70% {
    clip: rect(6px, 9999px, 24px, 0); }
  75% {
    clip: rect(3px, 9999px, 4px, 0); }
  80% {
    clip: rect(14px, 9999px, 67px, 0); }
  85.0% {
    clip: rect(84px, 9999px, 79px, 0); }
  90% {
    clip: rect(14px, 9999px, 17px, 0); }
  95% {
    clip: rect(23px, 9999px, 44px, 0); }
  100% {
    clip: rect(29px, 9999px, 44px, 0); } }
body.error-page .error-text:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(66px, 9999px, 92px, 0); }
  5% {
    clip: rect(39px, 9999px, 80px, 0); }
  10% {
    clip: rect(25px, 9999px, 76px, 0); }
  15.0% {
    clip: rect(46px, 9999px, 3px, 0); }
  20% {
    clip: rect(9px, 9999px, 71px, 0); }
  25% {
    clip: rect(77px, 9999px, 3px, 0); }
  30.0% {
    clip: rect(66px, 9999px, 96px, 0); }
  35% {
    clip: rect(5px, 9999px, 47px, 0); }
  40% {
    clip: rect(31px, 9999px, 7px, 0); }
  45% {
    clip: rect(29px, 9999px, 32px, 0); }
  50% {
    clip: rect(92px, 9999px, 29px, 0); }
  55.0% {
    clip: rect(67px, 9999px, 76px, 0); }
  60.0% {
    clip: rect(6px, 9999px, 41px, 0); }
  65% {
    clip: rect(46px, 9999px, 23px, 0); }
  70% {
    clip: rect(79px, 9999px, 11px, 0); }
  75% {
    clip: rect(97px, 9999px, 99px, 0); }
  80% {
    clip: rect(12px, 9999px, 37px, 0); }
  85.0% {
    clip: rect(69px, 9999px, 69px, 0); }
  90% {
    clip: rect(77px, 9999px, 73px, 0); }
  95% {
    clip: rect(48px, 9999px, 36px, 0); }
  100% {
    clip: rect(63px, 9999px, 94px, 0); } }
@keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 100px, 0); }
  5% {
    clip: rect(14px, 9999px, 71px, 0); }
  10% {
    clip: rect(39px, 9999px, 55px, 0); }
  15.0% {
    clip: rect(9px, 9999px, 91px, 0); }
  20% {
    clip: rect(64px, 9999px, 7px, 0); }
  25% {
    clip: rect(59px, 9999px, 50px, 0); }
  30.0% {
    clip: rect(83px, 9999px, 37px, 0); }
  35% {
    clip: rect(6px, 9999px, 24px, 0); }
  40% {
    clip: rect(2px, 9999px, 1px, 0); }
  45% {
    clip: rect(14px, 9999px, 78px, 0); }
  50% {
    clip: rect(27px, 9999px, 45px, 0); }
  55.0% {
    clip: rect(79px, 9999px, 96px, 0); }
  60.0% {
    clip: rect(66px, 9999px, 21px, 0); }
  65% {
    clip: rect(90px, 9999px, 77px, 0); }
  70% {
    clip: rect(90px, 9999px, 78px, 0); }
  75% {
    clip: rect(22px, 9999px, 32px, 0); }
  80% {
    clip: rect(70px, 9999px, 18px, 0); }
  85.0% {
    clip: rect(24px, 9999px, 55px, 0); }
  90% {
    clip: rect(77px, 9999px, 31px, 0); }
  95% {
    clip: rect(83px, 9999px, 34px, 0); }
  100% {
    clip: rect(55px, 9999px, 71px, 0); } }
