@font-face {
    font-family: 'liquid_crystalregular';
    src: url('fonts/liquidcrystal-normal-webfont.eot');
    src: url('fonts/liquidcrystal-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liquidcrystal-normal-webfont.woff') format('woff'),
         url('fonts/liquidcrystal-normal-webfont.ttf') format('truetype'),
         url('fonts/liquidcrystal-normal-webfont.svg#liquid_crystalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body.theme-lcd {
    font-family: 'liquid_crystalregular';
    background-color: #abaea6;
}
body.theme-lcd #line,
body.theme-lcd #dot,
body.theme-lcd #cover {
    display: none;
}
body.theme-lcd.user-form ::-webkit-input-placeholder {
    color: #060;
    font-family: 'liquid_crystalregular';
}
body.theme-lcd.user-form :-moz-placeholder { /* Firefox 18- */
    color: #060;
    font-family: 'liquid_crystalregular';
}
body.theme-lcd.user-form  ::-moz-placeholder {  /* Firefox 19+ */
    color: #060;
    font-family: 'liquid_crystalregular';
}
body.theme-lcd.user-form  :-ms-input-placeholder {  
    color: #060;
    font-family: 'liquid_crystalregular';
}
body.theme-lcd.user-form input {
    font-family: 'liquid_crystalregular';
}
body.theme-lcd.user-form #error {
    margin-top: 10px;
}
body.theme-lcd #taunt-box textarea {
    background-color: #eee;
    font-family: 'liquid_crystalregular';
}
a {
    color: #000;
    text-decoration: none;
}
body.theme-lcd input[type=submit],
body.theme-lcd input[type=button] {
    background: -webkit-linear-gradient(180deg, rgba(200,200,200,1) 0, rgba(120,120,120,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(200,200,200,1) 0, rgba(120,120,120,1) 100%);
    background: linear-gradient(180deg, rgba(200,200,200,1) 0, rgba(120,120,120,1) 100%);
    border: 0;
    border-radius: 5px;
    padding: 8px 12px 7px;
    font-family: 'liquid_crystalregular';
}
body.theme-lcd input[type=submit]:active,
body.theme-lcd input[type=button]:active {
    background: -webkit-linear-gradient(180deg, rgba(120,120,120,1) 0, rgba(200,200,200,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(120,120,120,1) 0, rgba(200,200,200,1) 100%);
    background: linear-gradient(180deg, rgba(120,120,120,1) 0, rgba(200,200,200,1) 100%);
}

/* table adjustments for 760px or lower */
@media only screen and (max-device-width: 760px),
       only screen and (max-width: 640px) {

    body.theme-lcd tr { 
        border: 1px solid #000; 
    }
	
	body.theme-lcd td { 
		/* Behave  like a "row" */
		border-bottom: 1px solid #666;
	}
}