.link {
  fill: none;
  stroke: #0f0;
  stroke-width: 1.5px;
  opacity: 0.5; }

.link:hover,
.link:active,
.link:focus {
  opacity: 1.0;
  stroke-width: 3px; }

.link.resolved {
  stroke-dasharray: 0,2 1; }

circle {
  fill: #000;
  stroke: #0f0;
  stroke-width: 1.5px;
  opacity: 0.5; }

circle:hover,
circle:active,
circle:focus {
  opacity: 1.0; }

text {
  font-size: 18px;
  font-family: "Courier New", "Courier", fixed, monospace;
  font-weight: 300;
  pointer-events: none;
  text-shadow: 0 1px 0 #0f0, 1px 0 0 #0f0, 0 -1px 0 #0f0, -1px 0 0 #0f0; }

#licensing {
  fill: green; }

.link.licensing {
  stroke: green; }
