.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  opacity: 0.5; }

.link:hover,
.link:active,
.link:focus {
  opacity: 1.0;
  stroke-width: 3px; }

.link.resolved {
  stroke-dasharray: 0,2 1; }

circle {
  fill: #000;
  stroke: #000;
  stroke-width: 1.5px;
  opacity: 0.5; }

circle.foe {
  fill: #f00;
  stroke: #000;
  stroke-width: 1.5px;
  opacity: 0.5; }

circle:hover,
circle:active,
circle:focus {
  opacity: 1.0; }

text {
  font-size: 18px;
  font-family: "Courier New", "Courier", fixed, monospace;
  font-weight: 300;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff; }

#licensing {
  fill: black; }

.link.licensing {
  stroke: black; }

.warWeapon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer; }

.warWeapon:hover,
.warWeapon:active,
.warWeapon:focus {
  background-color: #ff0;
  border-color: #ff0; }

.warWeapon.roshamRock {
  background-image: url("../images/rosham-rock-32.png"); }

.warWeapon.roshamPaper {
  background-image: url("../images/rosham-paper-32.png"); }

.warWeapon.roshamScissors {
  background-image: url("../images/rosham-scissors-32.png"); }

.warWeapon.active {
  background-color: #f00;
  border-color: #f00; }

body.theme-scanlines .link {
  stroke: #0f0; }
body.theme-scanlines circle {
  stroke: #0f0; }
body.theme-scanlines #licensing {
  fill: green; }
body.theme-scanlines .link.licensing {
  stroke: green; }
body.theme-scanlines text {
  text-shadow: 0 1px 0 #0f0, 1px 0 0 #0f0, 0 -1px 0 #0f0, -1px 0 0 #0f0; }
body.theme-scanlines .warWeapon {
  border-color: #fff;
  background-color: #fff; }
body.theme-scanlines .warWeapon:hover,
body.theme-scanlines .warWeapon:active,
body.theme-scanlines .warWeapon:focus {
  background-color: #ff0;
  border-color: #ff0; }
body.theme-scanlines .warWeapon.active {
  background-color: #0f0;
  border-color: #0f0; }

body.theme-scanlines.amber .link {
  stroke: #FFBF00; }
body.theme-scanlines.amber circle {
  stroke: #FFBF00; }
body.theme-scanlines.amber #licensing {
  fill: #FFBF00; }
body.theme-scanlines.amber .link.licensing {
  stroke: #FFBF00; }
body.theme-scanlines.amber text {
  text-shadow: 0 1px 0 #FFBF00, 1px 0 0 #FFBF00, 0 -1px 0 #FFBF00, -1px 0 0 #FFBF00; }
body.theme-scanlines.amber .warWeapon {
  border-color: #fff;
  background-color: #fff; }
body.theme-scanlines.amber .warWeapon:hover,
body.theme-scanlines.amber .warWeapon:active,
body.theme-scanlines.amber .warWeapon:focus {
  background-color: #f00;
  border-color: #f00; }
body.theme-scanlines.amber .warWeapon.active {
  background-color: #FFBF00;
  border-color: #FFBF00; }
