#line,
#dot,
#cover {
    display: none;
}

#content {
	margin:20px 20px 0px 20px;
}

table {
	width: 100%;
	margin-bottom: 40px;
	border-collapse: collapse;
}
tr {

}
th {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid;
	padding: 0 5px;
}
td {
	vertical-align: top;
	border-bottom: 1px solid;
	padding: 10px 5px;
}
td p {
	margin: 0;
}

#error {
    color: #C00;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
}

/* Registration & Login */
.user-form {
    text-align: center;
}
.user-form h1 {
    margin-bottom: 0;
}
.user-form input[type=text],
.user-form input[type=password]{
    min-width: 300px;
    margin-bottom: 15px;
}

/* Theme Widget*/
#theme-widget {
    position: absolute;
    top: 10px;
    right: 10px;
}
#theme-widget input {
    display: none;
}
#theme-widget input:checked + label {
    font-weight: bold;
}