/* Scan Lines */
#line {
	position: relative;
	top: 0px;
	left:0px;
	width: 100%;
	height: 2px;
	background: #0F0;
	opacity: .2;
	z-index: 100;
}
#dot {
	position: relative;
	left: 10px;
	width: 20px;
	height: 2px;
	background: #000;
	opacity: 1;
}
#cover {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 200px;
}

/* Main Styles */
body {
	background: #000;
	background-image: url('/images/evenBG.gif');
	color: #FFF;
	font-size: 14px;
	font-family: "Courier",fixed,monospace;
}
#content {
	margin:20px 20px 0px 20px;
	position: relative;
	opacity: .6;
	z-index: 50;
	color: #0F0;
	text-shadow: 0px 0px 3px;
	text-transform:uppercase;
}
table {
	width: 100%;
	margin-bottom: 40px;
	border-collapse: collapse;
}
tr {

}
th {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid;
	padding: 0 5px;
}
td {
	vertical-align: top;
	border-bottom: 1px solid;
	padding: 10px 5px;
}
td p {
	margin: 0;
}

#error {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    -webkit-animation: opacity 2s infinite;
    -moz-animation: opacity 2s infinite;
    -o-animation: opacity 2s infinite;
    -ms-animation: opacity 2s infinite;
    animation: opacity 2s infinite;
}

@-webkit-keyframes opacity {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-moz-keyframes opacity {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-ms-keyframes opacity {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-o-keyframes opacity {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes opacity {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/* Registration & Login */
.user-form {
    text-align: center;
}
.user-form h1 {
    margin-bottom: 0;
}
.user-form input[type=text],
.user-form input[type=password]{
    min-width: 300px;
    margin-bottom: 15px;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.user-form input[type=text]:focus,
.user-form input[type=password]:focus {
    opacity: 1.0;
}

.user-form ::-webkit-input-placeholder {
    color: #060;
    font-family: "Courier",fixed,monospace;
    text-transform:uppercase;
    font-weight: bold;
    opacity: 1.0;
}
.user-form :-moz-placeholder { /* Firefox 18- */
    color: #060;
    font-family: "Courier",fixed,monospace;
    text-transform:uppercase;
    font-weight: bold;
    opacity: 1.0;
}
.user-form  ::-moz-placeholder {  /* Firefox 19+ */
    color: #060;
    font-family: "Courier",fixed,monospace;
    text-transform:uppercase;
    font-weight: bold;
    opacity: 1.0;
}
.user-form  :-ms-input-placeholder {  
    color: #060;
    font-family: "Courier",fixed,monospace;
    text-transform:uppercase;
    font-weight: bold;
    opacity: 1.0;
}
