body {
    min-width: 304px;
}

#line,
#dot,
#cover {
    display: none;
}

#content {
	margin:20px 20px 0px 20px;
}

table {
	width: 100%;
	margin-bottom: 40px;
	border-collapse: collapse;
}
th {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid;
	padding: 0 5px;
}
td {
	vertical-align: top;
	border-bottom: 1px solid;
	padding: 10px 5px;
}
td p {
	margin: 0;
}

#error {
    color: #C00;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

/* Registration & Login */
.user-form {
    text-align: center;
}
.user-form h1 {
    margin-bottom: 0;
}
.user-form input[type=text],
.user-form input[type=password]{
    min-width: 300px;
    margin-bottom: 15px;
}
.n00b-link {
    display: inline-block;
    margin-top: 10px;
    color: #000;
    text-decoration: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

/* Theme Widget*/
#theme-widget {
    position: absolute;
    top: 10px;
    right: 10px;
}
#theme-widget input {
    display: none;
}
#theme-widget input:checked + label {
    font-weight: bold;
}
#theme-widget label:hover,
#theme-widget label:active,
#theme-widget label:focus {
    text-decoration: underline;
}
#the-shitcan {
    border: 1px solid #999;
    width: 96%;
    padding: 0 2%;
    background-color: #eee;
    margin-bottom: 20px;
}
#the-shitcan span.user {
    font-weight: bold
}
#taunt-box {
    margin-bottom: 30px;
    text-align: center;
}
#taunt-box textarea {
    width: 98%;
    padding: 1%;
    border-color: #999;
    margin-bottom: 10px;
}

/* table adjustments for 760px or lower */
@media only screen and (max-device-width: 1024px),
       only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
       only screen and (max-width: 640px) {

    #welcome-block {
        display: block;
        margin: 0 0 10px 0;
    }
    #theme-widget {
        position: relative;
        top: auto;
        right: auto;
        display: inline-block;
    }
    
    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #000; 
        margin-bottom: 20px;
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #999; 
		position: relative;
		padding-left: 40%; 
	}
    
    td:last-of-type {
        border-bottom: none;
    }
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 40%;
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:before { content: attr(data-label); }
s}